<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dailyupdate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="BuildConfig.GEO_API_KEY" />

        <!-- Using the sample AdMob App ID to display test ads-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_sample_id"/>

        <activity android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainViewActivity"
            android:theme="@style/AppTheme.Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.PreferenceActivity"
            android:label="@string/preference_label" />
        <activity
            android:name=".ui.activities.BookmarksActivity"
            android:label="@string/bookmarks_label"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Bookmark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>

        <receiver android:name=".widget.BookmarksWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bookmarks_widget_info" />
        </receiver>

        <service android:name=".widget.WidgetAdapterService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".widget.WidgetService" />
        <service android:name=".utilities.AppService" />
        <service
            android:name=".utilities.notifications.UpdateFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

    </application>

</manifest>